# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.coverage

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
venv/
env/
.venv/

# Django
db.sqlite3
*.log
mri_uploads/

# IDE
.vscode/
.idea/


